@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i');

$snappy: cubic-bezier(.17,.59,.83,.67);
$harsh-red: #f90000;
$grey: #252525; 
$red: #D40A53;
$skull: #F3F3F3;
$lightPurple: #A982C1;
$darkPurple: #824BA8; 
$limo: #B9C406;

// reset
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
}

ul, ol {
	padding: 0;
}

// defaults
html {
	font-size: 18px;
}

body {
	line-height: 1.5em;
	font-family: 'Montserrat', sans-serif;
	background: url("img/blank-clean-color-889087.jpg") 100px 100px;
	animation: scaleIn 5s ease-in-out reverse;
}

div {
	box-sizing: border-box;
}

// APP
.App {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

// LOADER
.loader-container {
	width: 100%;
	height: 40%;
	position: fixed;
	top: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: getDown 1s $snappy 2.5s;
	animation-fill-mode: forwards;
}

.loader {
	position: relative;
	width: 12em;
	height: 12em;
	border-top: 5px solid $red;
	border-radius: 50%;
	animation: rolling .8s linear infinite;

	&:before {
		position: absolute;
		top: 8px;
		left: 8px;
		content: "";
		display: block;
		width: 11em;
		height: 11em;
		border-left: 5px solid $lightPurple;
		border-radius: 50%;
		animation: rolling 1.2s $snappy infinite reverse;
	}

	&:after {
		position: absolute;
		top: 18px;
		left: 17px;
		content: "";
		display: block;
		width: 10em;
		height: 10em;
		border-right: 5px solid $limo;
		border-radius: 50%;
		animation: rolling .7s linear infinite;
	}
}

.left-screen {
	position: absolute;
	left: 0;
	width: 52%;
	height: 100%;
	background-color: #000000;
	animation: revealLeft .43s ease-in-out 2.5s;
	animation-fill-mode: forwards;
}

.right-screen {
	position: absolute;
	right: 0;
	width: 52%;
	height: 100%;
	background-color: #000000;
	animation: revealRight .43s ease-in-out 2.5s;
	animation-fill-mode: forwards;
}

// WELCOME
.welcome {
	display: flex;
	flex-flow: column wrap;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 5px;

	h1, h2, h4 {
		margin: .6em 0;
	}
}

// CONTAINER
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
}

header {
	text-align: center;
	margin-bottom: 1em;

	h2 {
		font-size: 2.8em;
		letter-spacing: .15em;
		line-height: 1em;
		text-shadow: 5px 0 8px $darkPurple;
		transition: text-shadow .23s ease .1s;

		&:hover {
			text-shadow: 5px 0 8px $darkPurple, 5px 5px 10px lighten($darkPurple, 50%), -5px -5px 10px lighten($darkPurple, 50%);
			cursor: pointer;
		}
	}	
}

.input {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	label {
		cursor: pointer;
		border-radius: 20%;
		box-shadow: .5em .5em 1.5em .2em $lightPurple, -.5em .5em 1.5em .2em $lightPurple, .5em -.5em 1.5em .2em $lightPurple, -.5em -.5em 1.5em .2em $lightPurple;
		transition: filter .23s linear .1s;

		&:hover {
			filter: drop-shadow(10px 10px 10px $red) invert(10%);
		} 
	}

	input {
		visibility: hidden;
	}
}

footer {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	a {
		opacity: 0.5;
		transition: opacity .43s $snappy;

		&:hover {
			opacity: 1;
		}
	}

	p {
		margin-top: 1em;
		strong {
			text-shadow: 1px 0 1px $darkPurple;
		}
	}
}

// SPINNER
.spinner {
	box-shadow: 0 0 2em 5em $red;
	border-radius: 2%;

	svg {
		animation: fall 1s;
	}
}

// USER PANEL
.userpanel {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;

	.image {
		opacity: 0.9;
		margin: 1.5em 2.5em;
		box-shadow: .6em .6em 2em .5em $grey, .3em .3em 2em .2em $lightPurple;
		transition: opacity .23s ease .1s; 

		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		img {
			max-width: 1000px;
			max-height: 750px;
		}
	}
}


// EDIT PANEL
.editpanel {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: center;
	margin-left: .6em;

	input, select {
		text-align: center;
		padding: .5em;
		padding: .5em;
		border-radius: 2em;
		border: none;
		outline: none;
		background-color: #ffffff;
	}

	label, legend {
			margin-right: .5em;
			color: $darkPurple;
			font-weight: bold;
			text-shadow: .5px .5px .2px #ffffff, -.5px .5px .2px #ffffff, .5px -.5px .2px #ffffff, -.5px -.5px .2px #ffffff;
	}

	form, div, fieldset {
		margin: 1.5em 0;

		input[type="submit"] {
			width: 100%;
			padding: .5em 0;
			margin-top: .5em;
			cursor: pointer;
			border: 3px solid $lightPurple;
			border-radius: 2em;
			transition: all .43s ease-out;
			color: darken($darkPurple, 20%);

			&:hover {
				background-color: lighten($darkPurple, 10%);
				color: #ffffff;
				border: 3px solid darken($darkPurple, 10%);
			}
		}
	}

	.editpanel__rotate, .editpanel__filter, .editpanel__duotone {
		width: 100%;
	}

	fieldset:disabled {
		display: none;
	}

	fieldset {
		margin: 0;
		padding: 0;
		border: none;
		display: flex;
		flex-flow: column wrap;

		input {
			-webkit-appearance: none;
			margin: 0 5px 0 4px;
			padding: 0 .5em;
			width: 140px;
			height: 20px;
			cursor: pointer;
			background-color: $lightPurple;
			box-shadow: 1px 1px 5px 0px darken($lightPurple, 60%);
			opacity: .7;
			transition: all .43s ease .1s;

			&:hover {
				opacity: 1;
				box-shadow: 1px 1px 5px 0px white;
			}

			&::-webkit-slider-thumb {
					-webkit-appearance: none;
					width: 30px;
					height: 15px;
					cursor: pointer;
					background: black;
					border-radius: 50%;
					box-shadow: 2px 2px 2px 2px lighten(#000000, 80%), -2px -2px 2px 2px lighten(#000000, 80%), -2px 2px 2px 2px lighten(#000000, 80%), 2px -2px 2px 2px lighten(#000000, 80%);
				}
		}

		input[id="colorOneRED"], input[id="colorTwoRED"] {
			animation: colorfulRed 2s linear infinite alternate;
		}

		input[id="colorOneGREEN"], input[id="colorTwoGREEN"] {
			animation: colorfulGreen 2s linear infinite alternate;
		}

		input[id="colorOneBLUE"], input[id="colorTwoBLUE"] {
			animation: colorfulBlue 2s linear infinite alternate;
		}

		label {
			font-style: italic;
			font-size: .8em;
		}
	}
}

// RESOLUTION WINDOW
.resolution {
	margin: 1.5em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;

	div {
		margin: .2em 0 .7em .0;

		span {
			color: $darkPurple;
			font-weight: bold;
			text-shadow: .5px .5px .2px #ffffff, -.5px .5px .2px #ffffff, .5px -.5px .2px #ffffff, -.5px -.5px .2px #ffffff;
		}
	}
}

// MSG
.alert {
	position: absolute;
	z-index: 11;
	padding: 10em;
	border: 3em solid $harsh-red;
	border-radius: 30%;
	background-color: #000000;
	color: $harsh-red;
	box-shadow: .6em .6em 2em .5em $grey, -.6em .6em 2em .5em $grey, .6em -.6em 2em .5em $grey, -.6em -.6em 2em .5em $grey;
	text-shadow: .5em .5em 1em #ffffff, -.5em .5em 1em #ffffff, .5em -.5em 1em #ffffff, -.5em -.5em 1em #ffffff; 

	h1 {
		font-size: 3em;
	}
}


// animations
.fadein {
	animation: fadein 2s;
}

.fastfadein {
	animation: fadein .8s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.rotate {
	animation: rolling .23s linear infinite;
}

@keyframes rolling {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.translate {
	animation: fall 1s;
}

@keyframes fall {
	from {
		transform: translateY(-5em);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes revealLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes revealRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes getDown {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(1000px);
		opacity: 0;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.15, 1.2);
	}
}

@keyframes colorfulRed {
	from {
		background-color: $lightPurple;
	}
	to {
		background-color: $red;
	}
}

@keyframes colorfulGreen {
	from {
		background-color: $lightPurple;
	}
	to {
		background-color: $limo;
	}
}

@keyframes colorfulBlue {
	from {
		background-color: $lightPurple;
	}
	to {
		background-color: #5983B1;
	}
}


// MEDIA QUERIES
@media screen and (max-width: 1380px) {
  .loader-container {
  	top: 200px;
  }

  .userpanel {
  	flex-flow: row nowrap;
  }

  .image {
  	img {
	  	max-width: 550px;
			max-height: 450px;
		}
  }

  .alert {
  	padding: 3em;

  	h1 {
  		font-size: 2em;
  	}
  }
}

@media screen and (max-width: 1100px) {
	.image {
  	img {
	  	max-width: 500px;
			max-height: 360px;
		}
  }
}

@media screen and (max-width: 860px) {
	header {
		h2 {
			font-size: 2em;
			letter-spacing: .1em;
			line-height: 1em;
		}
	}

  .userpanel {
  	display: flex;
  	flex-flow: column wrap;

  	.image {

  		img {
		  	max-width: 400px;
				max-height: 250px;

			}
	  }
  }

  .resolution {
  	align-items: center;
  }
  .alert {
  	padding: 3em;

  	h1 {
  		font-size: 2em;
  	}
  }	
}

@media screen and (max-width: 420px) and (max-height: 1080px) {
	.userpanel {
		flex-flow: column nowrap;
	}

	.editpanel {
		align-items: center;
		text-align: center;
	}

	.editpanel form, .editpanel div {
		margin: 0.5em;
	}

	.resolution {
		display: none;
	}

	footer {
		flex-flow: row wrap;

		a {
			margin: 0 .5em;
		}
	}
}