@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$snappy: cubic-bezier(.17,.59,.83,.67);
$harsh-red: #f90000;
$grey: #252525; 

$red: #D40A53;
$skull: #F3F3F3;
$lightPurple: #A982C1;
$darkPurple: #824BA8; 
$limo: #B9C406;

// reset
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
	margin: 0;
}

ul, ol {
	padding: 0;
}

// defaults
html {
	font-size: 18px;
}

body {
	line-height: 1.5em;
	font-family: 'Montserrat', sans-serif;
	background: url("img/blank-clean-color-889087.jpg") 100px 100px;
	animation: scaleIn 5s ease-in-out reverse;
}

div {
	box-sizing: border-box;
}

// APP
.App {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

// LOADER
.loader-container {
	width: 100%;
	height: 40%;
	position: fixed;
	top: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: getDown 1s $snappy 2.5s;
	animation-fill-mode: forwards;
}

.loader {
	position: relative;
	width: 12em;
	height: 12em;
	border-top: 5px solid $red;
	border-radius: 50%;
	animation: rolling .8s linear infinite;

	&:before {
		position: absolute;
		top: 8px;
		left: 8px;
		content: "";
		display: block;
		width: 11em;
		height: 11em;
		border-left: 5px solid $lightPurple;
		border-radius: 50%;
		animation: rolling 1.2s $snappy infinite reverse;
	}

	&:after {
		position: absolute;
		top: 18px;
		left: 17px;
		content: "";
		display: block;
		width: 10em;
		height: 10em;
		border-right: 5px solid $limo;
		border-radius: 50%;
		animation: rolling .7s linear infinite;
	}
}

.left-screen {
	position: absolute;
	left: 0;
	width: 52%;
	height: 100%;
	background-color: #000000;
	animation: revealLeft .43s ease-in-out 2.5s;
	animation-fill-mode: forwards;
}

.right-screen {
	position: absolute;
	right: 0;
	width: 52%;
	height: 100%;
	background-color: #000000;
	animation: revealRight .43s ease-in-out 2.5s;
	animation-fill-mode: forwards;
}

// WELCOME
.welcome {
	display: flex;
	flex-flow: column wrap;

	h1, h2, h4 {
		margin: .6em 0;
	}
}

// CONTAINER
.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: space-around;
}

header {
	width: 100%;
	text-align: center;

	h2 {
		font-size: 2em;
		text-shadow: 5px 0 8px $darkPurple;
	}	
}

.input {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	label {
		cursor: pointer;
		border-radius: 20%;
		box-shadow: .5em .5em 1.5em .2em $lightPurple, -.5em .5em 1.5em .2em $lightPurple, .5em -.5em 1.5em .2em $lightPurple, -.5em -.5em 1.5em .2em $lightPurple;
		transition: filter .23s linear .1s;

		&:hover {
			filter: drop-shadow(10px 10px 10px $red) invert(10%);
		} 
	}

	input {
		visibility: hidden;
	}
}

footer {
	width: 100%;
	text-align: center;

	a {
		opacity: 0.5;
		transition: opacity .43s $snappy;

		&:hover {
			opacity: 1;
		}
	}

	p {
		margin-top: 1em;
		strong {
			text-shadow: 1px 0 1px $darkPurple;
		}
	}
}

// SPINNER
.spinner {
	box-shadow: 0 0 2em 5em $red;
	border-radius: 2%;

	svg {
		animation: fall 1s;
	}
}

// USER PANEL
.userpanel {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;

	.image {
		text-align: center;


		img {
			box-shadow: .6em .6em 2em .5em $grey, .3em .3em 2em .2em $lightPurple;
			max-width: 1200px;
			max-height: 750px;
		}
	}
}

// EDIT PANEL
.editpanel {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;

	form {
		margin: 1.5em 0;

		label {
			margin-right: .5em;
			color: #824BA6;
			font-weight: bold;
			text-shadow: .5px .5px .2px #ffffff, -.5px .5px .2px #ffffff, .5px -.5px .2px #ffffff, -.5px -.5px .2px #ffffff;
		}

		input[type="number"], select {
			padding: .5em;
			border-radius: 2em;
			border: none;
			outline: none;
		}

		input[type="submit"] {
			width: 100%;
			padding: .5em 0;
			margin-top: .5em;
			cursor: pointer;
			border: 1px solid transparent;
			border-radius: 2em;
			transition: all .43s ease-out;

			&:hover {
				background-color: lighten($darkPurple, 10%);
				color: #ffffff;
				border: 1px solid darken($darkPurple, 10%);
			}
		}


	}

	.editpanel__rotate {

	}

	.editpanel__filter {

	}

}

.resolution {
	
}

// MSG
.alert {
	position: absolute;
	z-index: 11;
	padding: 10em;
	border: 3em solid $harsh-red;
	background-color: #000000;
	color: $harsh-red;
	text-shadow: 1em 1em 1em #ffffff, -1em 1em 1em #ffffff, 1em -1em 1em #ffffff, -1em -1em 1em #ffffff; 

	h1 {
		font-size: 5eml
	}
}


// animations
.fadein {
	animation: fadein 2s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.rotate {
	animation: rolling .23s linear infinite;
}

@keyframes rolling {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.translate {
	animation: fall 1s;
}

@keyframes fall {
	from {
		transform: translateY(-5em);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes revealLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes revealRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes getDown {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	to {
		transform: translateY(1000px);
		opacity: 0;
	}
}

@keyframes scaleIn {
	from {
		transform: scale(1, 1);
	}
	to {
		transform: scale(1.15, 1.2);
	}
}


// MEDIA QUERIES
@media only screen and (max-width: 1380px) {
  .container {

  }

  .userpanel {

  	.image {

			img {
				max-width: 700px;
				max-height: 450px;
			}
		}
  }

  .loader-container {
  	top: 200px;
  }
}

@media only screen and (max-width: 860px) {
  .container {
  	display: flex;
  	flex-flow: column wrap;
  }

  .userpanel {
  	display: flex;
  	flex-flow: column wrap;
  	
  	.image {

			img {
				max-width: 400px;
				max-height: 450px;
			}
		}
  }

  .resolution {
  	margin-top: 1.5em;
  }
}