@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px; }

body {
  line-height: 1.5em;
  background-color: #F4F3F4;
  font-family: 'Montserrat', sans-serif; }

div {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around; }

header h2 {
  font-size: 2em;
  text-shadow: 2px 0 3px #D40A53; }

.input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .input label {
    cursor: pointer;
    border-radius: 20%;
    box-shadow: .5em .5em 1.5em .2em #BD91CF, -.5em .5em 1.5em .2em #BD91CF, .5em -.5em 1.5em .2em #BD91CF, -.5em -.5em 1.5em .2em #BD91CF; }
  .input input {
    visibility: hidden; }

footer {
  text-align: center; }
  footer a {
    opacity: 0.5;
    transition: opacity 0.43s cubic-bezier(0.17, 0.59, 0.83, 0.67); }
    footer a:hover {
      opacity: 1; }
  footer p {
    margin-top: 1em; }
    footer p strong {
      text-shadow: .5px 0 1px #D40A53; }

.spinner {
  box-shadow: 0 0 2em 5em #B9C406;
  border-radius: 2%; }
  .spinner svg {
    animation: fall 1s; }

.userpanel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 90%; }
  .userpanel .image {
    min-width: 80%;
    min-height: 80%;
    text-align: center; }
    .userpanel .image img {
      max-width: 1200px;
      max-height: 750px; }

.editpanel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }
  .editpanel form {
    margin: 1.5em 0; }
    .editpanel form label {
      margin-right: .5em;
      color: #824BA6;
      font-weight: bold;
      text-shadow: .5px .5px .2px #ffffff, -.5px .5px .2px #ffffff, .5px -.5px .2px #ffffff, -.5px -.5px .2px #ffffff; }
    .editpanel form input[type="number"], .editpanel form select {
      padding: .5em;
      border-radius: 2em;
      border: none;
      outline: none; }
    .editpanel form input[type="submit"] {
      width: 100%;
      padding: .5em 0;
      margin-top: .5em;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 2em;
      transition: all 0.43s cubic-bezier(0.17, 0.59, 0.83, 0.67); }
      .editpanel form input[type="submit"]:hover {
        background-color: #9b69bb;
        color: #ffffff;
        border: 1px solid #663b83; }

.alert {
  position: absolute;
  z-index: 11;
  padding: 10em;
  border: 3em solid red; }
  .alert h1 {
    font-size: 5eml; }

.fadein {
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.rotate {
  animation: rolling .23s linear infinite; }

@keyframes rolling {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.translate {
  animation: fall 1s; }

@keyframes fall {
  from {
    transform: translateY(-5em); }
  to {
    transform: translateY(0); } }

@media only screen and (max-width: 1380px) {
  .container {
    width: 90%; }
  .userpanel .image img {
    max-width: 700px;
    max-height: 450px; } }

@media only screen and (max-width: 860px) {
  .container {
    width: 80%; }
  .userpanel {
    flex-flow: column wrap; }
    .userpanel .image {
      min-width: 60%;
      min-height: 50%; }
      .userpanel .image img {
        max-width: 400px;
        max-height: 450px; } }
